body{
    margin: 0%;
    
}
#box1{
    height: 200px;
    width: 200px;
    background-color: hotpink;
  border: 10px solid black;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: red;
  border: 10px solid black;
  margin-left: 220px;
}
#box3{
    height: 200px;
    width: 200px;
    background-color:yellow;
  border: 10px solid black;
  margin-left: 440px;
}